{% extends "template.html" %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
  {{ "Error: " if hasErrors }} {{ pageTitle }} - NHS
{% endblock %}

{% block header %}
  {{ header({
    "service": {
        "name": serviceName,
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block main %}
  <div class="nhsuk-width-container {{ containerClasses }}">
    {% block backLink %}{% endblock %}
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent">
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="">Terms &amp; conditions</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="">Privacy policy</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="">Accessibility statement</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
