{% extends "template.html" %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
  {{ "Error: " if hasErrors }} {{ pageTitle }} - NHS
{% endblock %}

{% block header %}
  {{ header({
    "service": {
        "name": serviceName,
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block main %}
  <div class="nhsuk-width-container {{ containerClasses }}">
    {% block backLink %}{% endblock %}
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent">
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
