{% set pageTitle = "Check that vitamin D is suitable for you" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v2" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageTitle }}</h1>
      <p>Do not use this service if you:</p>
      <ul>
        <li>are under the age of 18</li>
        <li>live in a nursing or residential care home - we will send supplements directly to the home where you live</li> 
      </ul>
      <h2>Prescriptions and other supplements you are already taking</h2>
      <p>Do not use this service if you:</p>
      <ul>
        <li>are already taking vitamin D or other supplements that may contain vitamin D</li> 
        <li>are already taking vitamin D that your doctor has prescribed or recommended - continue to take the dose they recommended</li> 
      </ul>

      <h2>Medical conditions</h2>
      <p>You should not use this service if you have any of these conditions:</p>
      <ul>
        <li>high vitamin D levels</li> 
        <li><a href="https://www.nhs.uk/conditions/kidney-stones/">kidney stones</a> (now or in the past)</li>   
        <li>too much <a href="https://www.nhs.uk/conditions/hyperparathyroidism/">parathyroid hormone</a> (hyperparathyroidism)</li>   
        <li>cancer (some cancers can lead to high calcium levels)</li>   
        <li>severe kidney disease</li>  
        <li>a rare illness called <a href="https://www.nhs.uk/conditions/sarcoidosis/">sarcoidosis</a></li> 
      </ul>
      <h2>Taking vitamin D safely</h2>
      <p><a href="https://www.gov.uk/government/publications/vitamin-d-supplements-how-to-take-them-safely">Read how to take vitamin D supplements safely on GOV.UK</a>.</p>
<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    Important
  </h3> 
  <p>You must not use this service:
    <ul>
      <li>if you are already taking vitamin D or other supplements</li>
      <li>if you have any of the medical conditions on this page</p> 
  </ul>
      <p>Discuss this with your doctor the next time you talk to them.</p>
</div>
      
    <p>If you think that vitamin D is suitable for you, please continue.</p>
      <a href="/v1/what-is-your-name" class="nhsuk-button">Continue</a>

    </div>
  </div>
{% endblock %}
