{% set pageTitle = "Check your answers before sending your details" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Check your answers before sending your details</h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/{{version}}/what-is-your-name">
              Change<span class="nhsuk-u-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
         <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/{{version}}/what-is-your-dob">
              Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nhs-number'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/{{version}}/what-is-your-email">
              Change<span class="nhsuk-u-visually-hidden"> NHS number</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/{{version}}/what-is-your-email">
              Change<span class="nhsuk-u-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['address-line-1'] }} {{ data['address-line-2'] }}, 
            {{ data['address-town'] }}, 
            {{ data['address-county'] }}, 
            {{ data['address-postcode'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/{{version}}/what-is-your-address">
              Change<span class="nhsuk-u-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Do you give us permission to use your information?
          </dt>
          <dd class="nhsuk-summary-list__value">
            Yes, I give my permission
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/{{version}}/do-you-give-permission">
              Change<span class="nhsuk-u-visually-hidden"> if you give permission to ...</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="nhsuk-heading-m">Now send your details</h2>
      <p>By sending this information you are confirming that:</p>
      <ul>
        <li>as far as you know, the details you are providing are correct</li>
        <li>we can share your name and address with the partner provider working with DHSC</li>
        <li>you have checked that vitamin D is suitable for you</li>
      </ul>

      <a href="/{{version}}/confirmation-page" class="nhsuk-button">Accept and send</a>

    </div>
  </div>
{% endblock %}
