{% set pageTitle = "Get vitamin D supplements" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1>Get vitamin D supplements</h1>
        <p>The Department for Health and Social Care (DHSC) has written to people on the shielded patients list to tell them that they can get free daily vitamin D supplements.</p>
        <p>If you've had a letter from DHSC about this, you can apply for supplements here from Monday 30 November.</p>

    </div>  
  </div>
{% endblock %}
