{% set pageTitle = "You have not given permission to pass on your information" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card__content">

          <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-0">
            {{ pageTitle }}
          </h1>

        </div>
      </div>

      <p>We have not saved your answers.</p>
      <p>If you change your mind, you can <a href="index">start again</a> at any time.</p>

    </div>
  </div>
{% endblock %}
