{% extends 'layout.html' %}

{% block pageTitle %}
  {{serviceName}} prototype
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{serviceName}} prototype</h1>

      <hr>

      <h2>Version 1</h2>
      <ul>
        <li><a href="/v1">{{ serviceName }}</a></li>
      </ul>

      <h2>Version 2</h2>
      <ul>
        <li><a href="/v2">{{ serviceName }}</a></li>
      </ul>
      <h2>Version 3 - draft January update, not used</h2>
      <ul>
        <li><a href="/v3">Free vitamin D supplements for people at high risk from coronavirus</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
